

.docs-doc-id-developers\/rest-api .container {
    max-width: unset!important;
}

.docs-doc-id-developers\/rest-api  .menu-content{
    padding-top: 80px;
}

.docs-doc-id-developers\/rest-api  .hNzKJC {
    padding: 80px 0 40px!important;
}

.docs-doc-id-developers\/rest-api  .cSNAXN {
    padding: 80px 0 40px !important;
}